/* ContinuousPatterns.css */
.continuous-patterns {
    width: 55%;
    height: 80%;
   
    border-radius: 5px;
    display: flex;
    /*grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); !* 创建两列的网格，每列宽度为50% *!*/
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin-left: 100px;
}
#myCanvas{
    border: 3px solid #333333;
    border-radius: 10px;
    margin-left: -100px;
}

